<h1 style = "color:red; text-align:center">生日快樂呀！</h1>
<div class="row">
  <div class="col-md-6">
    <img src="http://i1.wp.com/inews.gtimg.com/newsapp_bt/0/2083536752/641" alt="">
  </div>
  <div class="col-md-6">
    <p>雖然今天你生日，但還是一起在寫code度過。真的是莎莎給油了！</p>
    <p>傻笑的樣子是真的蠻可愛的，但是心裡有不開心還是要說啊，別悶著。</p>
    <p>不然再好的工作都會被你悶壞了。</p> 
    <p>恭喜你找到份好工作，往後的日子再請你多多指教呀！</p>
    <h3 style = "text-align:center; color:blue"></h3>
  </div>
</div>