<!-- Follow Ajax -->
<script>
  $('.follow-box').on("click", ".follow-a", function(event) {
    var id = event.target.parentNode.id;
    console.log(id);
    $.ajax({
      url: "/events/" + id + "/follow",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $('#'+data["id"]).html($('#event-unfollow-template').html());
      }
    });
  });
</script>

<!-- Unfollow Ajax -->
<script>
  $('.follow-box').on("click", ".unfollow-a", function(event) {
    var id = event.target.parentNode.id;
    $.ajax({
      url: "/events/" + id + "/unfollow",
      method: "POST",
      dataType: "json",
      success: function(data) {
        $('#'+data["id"]).html($('#event-follow-template').html());
      }
    });
  });
</script>

<script type="text/template" id="event-follow-template">
  <button type="button" class="follow-a follow-event btn btn-warning btn-sm">Follow</button>
</script>
<script type="text/template" id="event-unfollow-template">
  <button type="button" class="unfollow-a follow-event btn btn-outline-warning btn-sm">Unfollow</button>
</script>
