<div class="row">
  <% @followed_events.each do |event| %>
    <div class="col-md-4">
      <%= render partial: "shared/event_template", locals: {event: event} %>
    </div>
  <% end %>
</div>

<div class="clearfix"></div>
<br />
