<!-- 此頁是user要追蹤/取消追蹤artist的按鈕 -->
<% if current_user %>
  <div id="<%= artist.id %>" class="follow-artist-box">
    <% if current_user.followed_this_artist?(artist) %>
      <button type="button" class="unfollow-b follow-artist btn btn-danger">Unfollow</button>
    <% else %>
      <button type="button" class="follow-b follow-artist btn btn-danger">Follow</button>
    <% end %>
  </div>
<% else %>
  <%= link_to new_user_session_path do  %>
    <button type="button" class="btn btn-danger">Follow</button>
  <% end %>
<% end %>
