<% if !current_user.followed_this_event?(event) %>
  <%= link_to follow_event_path(event), method: :post do  %>
    <button type="button" class="follow-event btn btn-warning btn-sm">Follow</button>
  <% end %>
<% else %>
  <%= link_to unfollow_event_path(event), method: :post do  %>
    <button type="button" class="follow-event btn btn-warning btn-sm">Unfollow</button>
  <% end %>
<% end %>
