<div class="title col-sm-12">
    <h2>提供您 完整的活動資訊</h2>
  </div>
<div class="row">
  <% @events.each do |event| %>
    <div class="recent-event col-md-4 col-sm-6">
      <%= render partial: "shared/event_template", locals: {event: event} %>
    </div>
  <% end %>
</div>

<%= render partial: "shared/ajax_follow_event" %>
