// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.container-fluid.row {
  margin-top: 30px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

/*網站特色*/
.index-icon {
  font-size: 100px;
}

.website-feature p {
  text-align: center;
}

/*近期表演*/
#recent-events {
  margin-left: 0;
  margin-right: 0;
  background-color: silver;
  padding-top: 20px;
}

.recent-event {
  display: inline-block;
}

.event-detail {
  padding: 10px 10px 5px 10px;
}

.event-detail .name {
  height: 50px;
}

.event-detail .price p {
  font-size: 12px;
}

/*Follow按鈕*/
.follow-box {
  float: right;
}
