// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


///////////*events#index*/////////////
* {
  box-sizing: border-box;
}

.container-fluid.row {
  margin-top: 30px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

/*網站特色*/
.index-icon {
  font-size: 100px;
}

.website-feature p {
  text-align: center;
}

/*近期表演*/
#recent-events {
  margin-left: 0;
  margin-right: 0;
  background-color: silver;
  padding-top: 20px;
}

.recent-event {
  margin-bottom: 20px;
}

.event-img-frame {
  position: relative;
}

.event-img-frame img {
  width: 100%;
}

.event-img-frame:hover {
  background-color: white;
}

.event-img-frame:hover img {
  width: 100%;
  position: relative;
  opacity: 0.1;
  transition-duration: 0.5s;
  z-index: 2;
}

.event-img-frame:hover .event-hover {
  transition-duration: 0.5s;
  z-index: 1;
  display: block;
}

.event-hover {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 10px;
  height: 100%;
  z-index: 1;
  // display: none;
}

.event-hover .place * {
  display: inline-block;
}

.event-hover .time * {
  display: inline-block;
}

.event-hover .price p {
  font-size: 12px;
}

.event-hover p {
  color: #222222;
  margin-bottom: 0px;
}

.event-detail {
  padding: 10px 10px 5px 10px;
}

.event-detail .name {
  height: 50px;
}

.event-detail .name a {
  text-decoration: none;
  color: black;
}

.event-detail .name a:hover {
  color: gray;
}

/*Follow按鈕*/
.follow-box {
  float: right;
}


///////////*events#show*/////////////
#bar {
  width: 80%;
  height: 2px;
  background-color: gray;
  margin-bottom: 20px;
}

.event-show .badge {
  font-size: 14px;
}

.artist a {
  text-decoration: none;
  color: black;
}

.artist a:hover {
  color: gray;
}

////////////*RWD*/////////////
@media (max-width: 384.9px) {
  .event-hover .price p {
    font-size: 12px;
  }

  .event-hover > div {
    margin: 3px auto;
  }

  .artist-list, .time, .place {
    font-size: 14px;
  }
}

@media (min-width: 385px) and (max-width: 575.98px) {
  .event-hover span {
    font-size: 16px;
  }

  .event-hover > div {
    margin: 7px auto;
  }

  .event-hover .price p {
    font-size: 14px;
  }

  .event-hover .place p {
    display: block;
  }

  .event-hover .time p {
    display: block;
  }
}

@media (min-width: 575.98px) {
  .event-hover .price p {
    font-size: 12px;
  }

  .event-hover > div {
    margin: 3px auto;
  }

  .artist-list, .time, .place {
    font-size: 14px;
  }
}

@media (min-width: 767.98px) and (max-width: 929.9px) {
  .event-hover .price p {
    font-size: 12px;
  }

  .event-hover > div {
    margin: 3px auto;
  }

  .artist-list, .time, .place {
    font-size: 14px;
  }
}

@media (min-width: 930px) {
  .event-hover span {
    font-size: 16px;
  }

  .event-hover > div {
    margin: 7px auto;
  }

  .event-hover .price p {
    font-size: 14px;
  }

  .event-hover .place p {
    display: block;
  }

  .event-hover .time p {
    display: block;
  }
}
