/*carousel*/
.carousel-item{
  text-align: center;
}

.carousel-item img{
  width : 90%;
}


/*footer*/
#footer {
  margin-top: 100px;
}

#footer div p {
  text-align: center;
  color: gray;
}

/*content*/
#content {
  margin-top: 50px;
}


/*surprise*/
.surprise-container {
  width: 100%;
  height: 400px;
  background-color: white;
}

.surprise-container.change1 {
  background-color: yellow;
  transition-duration: 3s;
}

.surprise-container.change2 {
  height: 600px;
  transition-duration: 1s;
}

.word-frame {
  padding-top: 100px;
}

.word-frame h1 {
  font-size: 200px;
  display: inline-block;
  margin: auto 20px;
}

.word-frame h3 {
  padding-top: 50px;
  font-size: 50px;
}
