/*carousel*/
.carousel-item{
  text-align: center;
}

.carousel-item img{
  width : 90%;
}


/*footer*/
#footer {
  margin-top: 100px;
}

#footer div p {
  text-align: center;
  color: gray;
}

/*content*/
#content {
  margin-top: 50px;
}
